body {
    margin: 0;
}
.section1 {
    color: red;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    height: 50%;

}
#Button1 {
    background-color: lawngreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: royalblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#Button2 {
    background-color: khaki;
    position: absolute;
    bottom: 40px;
    right: 40px;
    color:seagreen;
    width: 200px;
    height: 60px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.section2 {
    background-color: rgb(176, 175, 175);
    top: 50%;
    position: fixed;
    width: 100%;
    height: 50%;
}
#Button3 {
    background-color: rgb(199, 63, 104);
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 40px;
    
    color:seagreen;
    width: 200px;
    height: 60px;
    margin-right: 40px;
    margin-bottom: 40px;
}